body{
    margin: 0;
    padding: 0;
}
 .head {
    text-align: center;
    background-color: lightgrey;
}

.container{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.box{
    height: 200px;
    width: 200px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
}
#input{
    margin: 100px;
}